@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Upload";
}

<div class="jumbotron">
    <h3>Package uploading</h3>
</div>
<div class="row">
    <form enctype="multipart/form-data" action="/uploads" method="POST">
      <label>File</label>
      <input type="file" name="package" />
      <br/>
      <input type="submit" value="Submit" >
    </form>
</div>
